<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aimei.beautyshop.dao.CardMapper">
  <resultMap id="BaseResultMap" type="com.aimei.beautyshop.entity.Card">
    <id column="cardid" jdbcType="INTEGER" property="cardid" />
    <result column="drawtime" jdbcType="TIMESTAMP" property="drawtime" />
    <result column="integral" jdbcType="INTEGER" property="integral" />
    <result column="cardcode" jdbcType="VARCHAR" property="cardcode" />
  </resultMap>
  <sql id="Base_Column_List">
    cardid, drawtime, integral, cardcode
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_card
    where cardid = #{cardid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_card
    where cardid = #{cardid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aimei.beautyshop.entity.Card">
    insert into t_card (cardid, drawtime, integral, 
      cardcode)
    values (#{cardid,jdbcType=INTEGER}, #{drawtime,jdbcType=TIMESTAMP}, #{integral,jdbcType=INTEGER}, 
      #{cardcode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.aimei.beautyshop.entity.Card">
    insert into t_card
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cardid != null">
        cardid,
      </if>
      <if test="drawtime != null">
        drawtime,
      </if>
      <if test="integral != null">
        integral,
      </if>
      <if test="cardcode != null">
        cardcode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cardid != null">
        #{cardid,jdbcType=INTEGER},
      </if>
      <if test="drawtime != null">
        #{drawtime,jdbcType=TIMESTAMP},
      </if>
      <if test="integral != null">
        #{integral,jdbcType=INTEGER},
      </if>
      <if test="cardcode != null">
        #{cardcode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aimei.beautyshop.entity.Card">
    update t_card
    <set>
      <if test="drawtime != null">
        drawtime = #{drawtime,jdbcType=TIMESTAMP},
      </if>
      <if test="integral != null">
        integral = #{integral,jdbcType=INTEGER},
      </if>
      <if test="cardcode != null">
        cardcode = #{cardcode,jdbcType=VARCHAR},
      </if>
    </set>
    where cardid = #{cardid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aimei.beautyshop.entity.Card">
    update t_card
    set drawtime = #{drawtime,jdbcType=TIMESTAMP},
      integral = #{integral,jdbcType=INTEGER},
      cardcode = #{cardcode,jdbcType=VARCHAR}
    where cardid = #{cardid,jdbcType=INTEGER}
  </update>
</mapper>