<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aimei.beautyshop.dao.GoodsMapper">
  <resultMap id="BaseResultMap" type="com.aimei.beautyshop.entity.Goods">
    <id column="goodsid" jdbcType="INTEGER" property="goodsid" />
    <result column="goodsname" jdbcType="VARCHAR" property="goodsname" />
    <result column="typeid" jdbcType="INTEGER" property="typeid" />
  </resultMap>
  <sql id="Base_Column_List">
    goodsid, goodsname, typeid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_goods
    where goodsid = #{goodsid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_goods
    where goodsid = #{goodsid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aimei.beautyshop.entity.Goods">
    insert into t_goods (goodsid, goodsname, typeid
      )
    values (#{goodsid,jdbcType=INTEGER}, #{goodsname,jdbcType=VARCHAR}, #{typeid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aimei.beautyshop.entity.Goods">
    insert into t_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsid != null">
        goodsid,
      </if>
      <if test="goodsname != null">
        goodsname,
      </if>
      <if test="typeid != null">
        typeid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsid != null">
        #{goodsid,jdbcType=INTEGER},
      </if>
      <if test="goodsname != null">
        #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="typeid != null">
        #{typeid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aimei.beautyshop.entity.Goods">
    update t_goods
    <set>
      <if test="goodsname != null">
        goodsname = #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="typeid != null">
        typeid = #{typeid,jdbcType=INTEGER},
      </if>
    </set>
    where goodsid = #{goodsid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aimei.beautyshop.entity.Goods">
    update t_goods
    set goodsname = #{goodsname,jdbcType=VARCHAR},
      typeid = #{typeid,jdbcType=INTEGER}
    where goodsid = #{goodsid,jdbcType=INTEGER}
  </update>
</mapper>