<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aimei.beautyshop.dao.GoodsMapper">

  <resultMap id="vGoods" type="com.aimei.beautyshop.vo.VGoods">
    <id column="goodsid" property="goodsid"/>
    <result column="goodsname" property="goodsname"></result>
    <result column="goodssales" property="goodssales"></result>
    <result column="goodsevaluate" property="goodsevaluate"></result>
    <collection property="goodsimgs" javaType="list" ofType="com.aimei.beautyshop.entity.Goodsimg"
      resultMap="com.aimei.beautyshop.dao.GoodsimgMapper.BaseResultMap"
    ></collection>
  </resultMap>

  <select id="findGoodsByType" parameterType="int" resultMap="vGoods">
    select g.goodsid,g.goodsname,g.goodssales,g.goodsvaluate,i.imgpath from t_goods g
    inner join t_goodsimg i
    on i.goodsid = g.goodsid
    where typeid = #{typeid}
    order by g.goodssales desc
  </select>

  <select id="findGoodsByCon" parameterType="map" resultMap="vGoods">
    select g.goodsid,g.goodsname,g.goodssales,g.goodsvaluate,i.imgpath from t_goods g
    inner join t_goodsimg i
    on i.goodsid = g.goodsid
    where typeid = #{typeid}
    <if test="goodsName != null">
      and goodsname like concat('%',#{goodsName},'%')
    </if>
    order by g.goodssales desc
  </select>
</mapper>